<p id="notice"><%= notice %></p>


<h2>Buscador de posts asincronico</h2>

<%= form_tag(root_path, method: :get, remote: true) do |f| %>

  <%= text_field_tag :q, nil, placeholder: 'Buscar post' %>
  <%= submit_tag 'Buscar' %>

<% end %>

<h1>Posts</h1>

<%= render 'form', post: @post %>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Contenido</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="tbody">

    <% @posts.each do |post| %>
      <tr id="post_<%=post.id%>">
        <%= render @posts %>
      </tr>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'Nuevo Post', new_post_path %>


